.info-block{

    & .container-cart{

        .wrapper-cart {
            position: fixed;
            top: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.8);
            width: 20%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;

            & .item{
                width: 100%;
                height: 10%;

                & .img{
                    height: 50px;
                    background-size: cover;
                    background-position: 50% 50%;
                }
            }

            & .hide{
                display: none;
            }
          }

          .total{
            position: absolute;
            bottom: 0;
            right: 40px;
        }
          
          .close {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 40px;
            cursor: pointer;
            color: #fff;
          }
    }
}

.container-products{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;

        .item{
            height: 300px;
            border: 1px solid #fff;
            width: 250px;
            text-align: center;
            margin: 10px;

            .img{
                background-image: url(../img/item1.jpg);
                height: 200px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50%;
            }

            .name{
                font-size: 20px;
                font-weight: 700;
            }

            & button{
                border: 1px solid $primary_color;
                padding: 5px;
                background-color: #fff;
                margin-top: 5px;
                font-size: 15px;
                font-weight: 700;
    
                &:hover{
                    border: 3px solid $secondary_color;
                }
            }

            .closeItem{
                display: none;
            }
        }

}

.filter{
    display: flex;
    width: 20%;

    & button{
        border: 1px solid $primary_color;
        padding: 5px;
        background-color: #fff;
        margin-top: 5px;
        font-size: 15px;
        font-weight: 700;

        &:hover{
            border: 3px solid $secondary_color;
        }
    }
    
}


